<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>부동산 도우미</title>
  <meta name="keywords" content="부동산 도우미" />
  <meta name="description" content="부동산 업무에 도움을 드립니다. 특약사항, 질문답변, 매물찾기, 부동산뉴스, 일정관리..." />

  <!-- 브라우저 css 기본스타일 초기화 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css">

  <!-- ajax 사용을 위한 제이쿼리 -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  
  <!-- ckeditor5 cdn -->
  <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/43.1.0/ckeditor5.css">
  <link rel="stylesheet" href="../css/document/document_detail.css">

  <!-- css 링크  -->
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/header.css">

  <!-- js 링크  -->
</head>

<body>

  <!-- ===== header ===== -->
  <header>
    <%- include('header', {user:user}) %>
  </header>

  <div id="contents"> 
    <div class="table_head">
      <p class="page_title">서식자료실</p>
      <p class="page_title_desc">다양한 부동산 업무 서식을 공유하세요</p>
    </div>

    <!-- 작성자 -->
    <div style="display:flex; justify-content: space-between;">
      <div>
        <p style="visibility:hidden;">empty</p>
      </div>
      <div class="writer_container" >
        <a href=""><img class="person_image" src="../images/person.png" ></a>
        <div>
          <p class="nickname_text"><%= data[0].user_nickname %></p>
          <p class="created_at"><%= data[0].post_date %></p>
        </div>
      </div>
    </div>

    <!-- 게시물 제목 -->
    <div class="title_container">
      <input type="text" class="document_title" value="<%= data[0].title %>" disabled>
      <input type="hidden" class="document_no" value="<%= data[0].id %>">
      <input type="hidden" class="document_content" value="<%= data[0].content %>">
    </div>

    <!-- 게시물 내용 -->
		<div>
			<div class="main-container">
				<div class="editor-container editor-container_classic-editor" id="editor-container">
					<div class="editor-container__editor"><div id="editor"></div></div>
				</div>
			</div>
		</div>

    <!-- 첨부파일 다운로드 -->
    <div class="attach">
      <div class="attach_box">

        <input type="hidden" id="is_login" value="<%= user %>">
        <input type="hidden" id="original_name" value="<%= data[0].original_name %>">
        <input type="hidden" id="changed_name" value="<%= data[0].changed_name %>">

        <div class="attach_name">
          <label> 첨부파일 : </label>
          <span id="attach_file"><%= data[0].original_name %></span>
          <span class="delete_attach" style="display:none;">삭제</span>
        </div>
        
        <div class="file_attach" style="display: none;">
          <input type="file" name="attachment" class="attach_btn">
          <p class="file_limit"> 첨부파일의 크기는 2 mb를 초과할 수 없습니다 </p>
        </div>

      </div>
    </div>

    <div class="buttons">
      <input type="button" value="목록" onclick="location.href='/document_list'">
      <% if(user && (user.id == data[0].user_id) ) { %>
        <div>
          <input type="button" id="edit_btn" style="display: inline;" value="수정">
          <input type="button" id="complete_btn" style="display: none;" value="완료">
          <input type="button" id="delete_btn" style="display: inline;" value="삭제">
        </div>
      <% } else { %>
        <div>
          <input type="button" id="edit_btn" style="display: none;" value="수정">
          <input type="button" id="complete_btn" style="display: none;" value="완료">
          <input type="button" id="delete_btn" style="display: none;" value="삭제">
        </div>
      <% } %>
    </div>


    <!-- 댓글 + 답글 리스트 -->
    <% if(data[0].comment) { %> <!-- 해당게시물에 댓글이 있을때 -->
      <div class="container_comment_list">
        <% for(let i=0; i<data.length; i++) { %>
          <% if(data[i].response_to == 0) { %> <!-- 답글이면 화면에 표시하지 않음, 먼저 댓글만 표시 -->
            <div class="comment">
              <input type="hidden" class="response_to" value="<%= data[i].response_to %>">
              <input type="hidden" class="comment_id" value="<%= data[i].idx %>">
              <p class="comment_name"> <%= data[i].commenter_nickname %> </p>
              <p class="comment_content"> <%= data[i].comment %> </p>
              <p class="comment_date"> <%= data[i].created_at %> </p>
              <% if(user && data[i].deleted == 0) { %>
                <span class="response_open_btn">답글쓰기</span>
                <% if(user.id == data[i].commenter_id) { %>
                  <span class="response_edit_btn">수정</span>
                  <span class="comment_delete_btn">삭제</span>
                  <input type="hidden" id="delete_comment_idx" value="">  <!-- 삭제할 comment 인덱스 -->
                <% } %>
              <% } %>
            </div>
          <% } %>
          
          <!-- for문 안에 for문 -->
          <% for(let j=0; j<data.length; j++) { %> 
            <% if(data[j].response_to == data[i].idx) { %>  <!-- 댓글의 답글이면 화면에 표시함 -->
              <div class="re_comment">
                <input type="hidden" class="response_to" value="<%= data[j].response_to %>">
                <input type="hidden" class="re_comment_id" value="<%= data[j].idx %>">
                <p class="comment_name"> <%= data[j].commenter_nickname %> </p>
                <p class="comment_content"> <%= data[j].comment %> </p>
                <p class="comment_date"> <%= data[j].created_at %> </p>
                <% if(user) { %>
                  <span class="response_open_btn">답글쓰기</span>
                  <% if(user.id == data[j].commenter_id) { %>
                    <span class="response_edit_btn">수정</span>
                    <span class="response_delete_btn">삭제</span>
                    <input type="hidden" id="delete_comment_idx" value="">  <!-- 삭제할 comment 인덱스 -->
                  <% } %>
                <% } %>
              </div>
            <% } %>
          <% } %>

        <% } %>
      </div>
    <% } %>


    <!-- on/off 되는 답글 입력창 -->
    <div class="container_response">
      <% if(user) { %>
        <p class="comment_name"><%= user.nickname %></p>
      <% } %>
      <textarea class="response_box" placeholder="답글을 남겨보세요."></textarea>
      <input type="hidden" id="post_type_edit" value="false">
      <input type="hidden" id="edit_comment_idx" value=""> <!-- 수정할 comment 인덱스 --> 
      <div class="btn_container">
        <p class="cancel_btn">취소</p>
        <p class="response_btn">등록</p>
      </div>
    </div>

    <!-- 가장 아래쪽 고정되어 있는 댓글 입력창 -->
      <% if(user) { %>
        <div class="container_comment">
          <p class="comment_name"><%= user.nickname %></p>
          <textarea class="comment_box" placeholder="댓글을 남겨보세요."></textarea>
          <p class="comment_btn" align='right'>등록</p>
        </div>
      <% } else { %>
        <div class="container_comment" style="height: 60px;">
          <p class="comment_btn" style="display:none;">등록</p>
          <p class="login_btn" onclick="location.href='/login'">로그인하고 댓글을 남겨보세요.</p>
        </div>
      <% } %>

  </div> 

  <!-- ckeditor5 -->
  <script type="importmap">
		{
			"imports": {
				"ckeditor5": "https://cdn.ckeditor.com/ckeditor5/43.1.0/ckeditor5.js",
				"ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/43.1.0/"
			}
		}
	</script>
	<script type="module" src="../js/document/document_detail.js"></script>

</body>
</html>