<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>부동산 도우미</title>
  <meta name="description" content="부동산 업무에 종사하는 분들에게 도움을 드립니다">

  <!-- 브라우저 css 기본스타일 초기화 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css">

  <!-- ajax 사용을 위한 제이쿼리 -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  <!-- Clipboardl.js 라이브러리 사용 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.10/clipboard.min.js"></script>
  
  <!-- The Open Graph Protocal -->
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="부동산 도우미">
  <meta property="og:title" content="부동산 도우미 웹사이트">
  <meta property="og:description" content="부동산 업무에 종사하는 분들에게 도움을 드립니다">
  <meta property="og:image" content="../images/bds_logo.png">
  <meta property="og:url" content="">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">
  <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet"> -->

  <!-- css 링크  -->
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/footer.css">
  <link rel="stylesheet" href="../css/index/index.css">
  <link rel="stylesheet" href="../css/index/dropdown.css">
  <link rel="stylesheet" href="../css/index/table.css">

  <!-- JS 링크 -->
  <script src="../js/index/index.js"></script>
  <script src="../js/index/dropdown.js"></script>
  <script src="../js/index/table.js"></script>
  <script src="../js/index/footer.js"></script>
</head>

<body>

  <!-- ===== header menu ===== -->
  <header>
    <%- include('header', {user:user}) %>
  </header>

  <div id="contents">

    <!-- ===== 드롭다운바 ===== -->
    <div class="dropdownbar">
      <div class="dropdown">
        <button id="apt" class="dropbtn" onclick="clickMenuBtn(this.id)">아파트</button>
        <div id="apt_Dropdown" class="dropdown_content">
          <a href="/type/apt_trade" class="menu">매매</a>
          <a href="/type/apt_jeonse" class="menu">전세</a>
          <a href="/type/apt_monthly" class="menu">월세</a>
        </div>
      </div>

      <div class="dropdown">
        <button id="officetel" class="dropbtn" onclick="clickMenuBtn(this.id)">오피스텔
        </button>
        <div id="officetel_Dropdown" class="dropdown_content">
          <a href="/type/officetel_trade" class="menu">매매</a>
          <a href="/type/officetel_jeonse" class="menu">전세</a>
          <a href="/type/officetel_monthly" class="menu">월세</a>
        </div>
      </div>

      <div class="dropdown">
        <button id="dasedae" class="dropbtn" onclick="clickMenuBtn(this.id)">다세대주택</button>
        <div id="dasedae_Dropdown" class="dropdown_content">
          <a href="/type/dasedae_trade" class="menu">매매</a>
          <a href="/type/dasedae_jeonse" class="menu">전세</a>
          <a href="/type/dasedae_monthly" class="menu">월세</a>
        </div>
      </div>
    
      <div class="dropdown">
        <button id="dagagu" class="dropbtn" onclick="clickMenuBtn(this.id)">다가구주택</button>
        <div id="dagagu_Dropdown" class="dropdown_content">
          <a href="/type/dagagu_trade" class="menu">매매</a>
          <a href="/type/dagagu_jeonse" class="menu">전세</a>
          <a href="/type/dagagu_monthly" class="menu">월세</a>
        </div>
      </div>
    
      <div class="dropdown">
        <button id="oneroom" class="dropbtn" onclick="clickMenuBtn(this.id)">원룸</button>
        <div id="oneroom_Dropdown" class="dropdown_content">
          <a href="/type/oneroom_jeonse" class="menu">전세</a>
          <a href="/type/oneroom_monthly" class="menu">월세</a>
        </div>
      </div>
    
      <div class="dropdown">
        <button id="shop" class="dropbtn" onclick="clickMenuBtn(this.id)" style="color:yellowgreen;">상가</button>
        <div id="shop_Dropdown" class="dropdown_content">
          <a href="/type/shop_trade" class="menu">매매</a>
          <a href="/type/shop_monthly" class="menu">월세</a>
        </div>
      </div>
    
      <div class="dropdown">
        <button id="factory" class="dropbtn" onclick="clickMenuBtn(this.id)" style="color:yellowgreen;">공장/창고</button>
        <div id="factory_Dropdown" class="dropdown_content">
          <a href="/type/factory_trade">매매</a>
          <a href="/type/factory_monthly">월세</a>
        </div>
      </div>
    
      <div class="dropdown">
        <button id="land" class="dropbtn" onclick="clickMenuBtn(this.id)" style="color:yellowgreen;">토지</button>
        <div id="land_Dropdown" class="dropdown_content">
          <a href="/type/land_trade">매매</a>
          <a href="/type/land_monthly">월세</a>
        </div>
      </div>
    
      <div class="dropdown">
        <button id="etc" class="dropbtn" onclick="clickMenuBtn(this.id)" style="color:yellow;">기타</button>
        <div id="etc_Dropdown" class="dropdown_content">
          <a href="/type/etc">기타</a>
        </div>
      </div>
    </div>

    <!-- ===== 특약테이블 ===== -->
    <div>
      
      <div>
        <p class="clause_name"> <%= type %> </p>
        <% if (user) { %>
          <button id="edit_button" class="edit_btn" style="visibility:visible;">수정</button>
        <% } else { %>
          <button id="edit_button" class="edit_btn" style="visibility:hidden;">수정</button>
        <% } %>
      </div>
      

      <table class="table_clause">
        <% for(let i=0; i<data.length; i++) { %>
          <tr>
            <td id="col_size">
              <input type="checkbox" class="checkbox" id="<%= data[i].id %>" data-id="<%= data[i].id %>">
              <label class="title" for="<%= data[i].id %>"> <%= data[i].title %> </label> 
              <button id="select_button" class="select_btn" data-id="<%= data[i].id %>" onclick="clickEdit(this)">선택</button>
            </td>
            <td>
              <label class="content"> <%= data[i].content %></label> 
            </td>
          </tr> 
        <% } %> 
      </table><br>

      <input type="button" class="copy_button" data-clipboard-target="#copy_content" value="복사하기">
      <span>위 특약사항을 선택후, 복사하기 버튼을 클릭하고 계약서 작성 프로그램의 특약사항란에 붙여넣기(Ctrl+V)하면 됩니다. (로그인 후 특약사항의 수정, 추가, 삭제가 가능합니다)</span>
      <br><br>
    </div>

    <!-- ===== 특약정리 ===== -->
    <div class="container_copy">
      <form action="/Copy.php">
        <textarea id="copy_content" name="message" rows="20"></textarea>
      </form>
    </div>

    <!-- ==== 특약수정 모달 ==== -->
    <div id="edit_modal" class="modal">
      <div class="modal_content">
        <input type="hidden" id="clause_no" name="clause_no" value=""><br>
        <input type="text" class="edit_title" value=""><br>
        <input type="text" class="edit_content" value=""><br>

        <button type="button" class="modal_conform" onclick="confirmModal();">확인</button>
        <button type="button" class="modal_cancel" onclick="closeModal();">취소</button>
        <br>
      </div>
    </div>

  </div>

  <!-- ===== footer ===== -->
  <footer>
    <%- include('footer', {user:user}) %>
  </footer>

</body>
</html>
